<footer class="bg-gray-100 min-h-[600px] w-full py-20">
    <div class="flex flex-col gap-4 max-w-6xl mx-auto">     
        <div class="flex flex-col items-center justify-center gap-6 text-center">
            <h2 class="text-4xl font-bold text-gray-800">
                Mejore la gestión de sus carros de emergencia 
            </h2>
            <p class="text-xl text-gray-500 max-w-2xl mx-auto">Únase a cientos de intituciones que ya optimizan sus procesos y mejoran la seguridad de los pacienntes con HopitalCart</p>
            
            <div class="flex gap-4">
                <button class="py-2 px-10 bg-gray-900 text-gray-100 rounded-md font-semibold">Comenzar ahora</button>
                <button class="py-2 px-10 bg-white text-gray-900 rounded-md border-1 border-gray-400 font-semibold">Solicitar información</button>
            </div>    
        </div>
    
     
        <div class="grid grid-cols-4 gap-4 p-10 justify-items-center border-b-1 border-gray-400">
        
            <div class="flex flex-col gap-4">
                <h3 class="text-2xl text-gray-900 font-bold">HospitalCart</h3>
                <p class="text-md text-gray-500">Sistema integral para la gestión y control de carros de emergencia hospitalarios.</p>
            </div>

            <div class="flex flex-col gap-4">
                <h3 class="text-md text-gray-900 font-semibold">Producto</h3>
                <ul class="text-md text-gray-500 font-medium">
                    <li>Características</li>
                    <li>Beneficio</li>
                    <li>Testimonios</li>
                    <li>Preguntas frecuentes</li>
                </ul>
            </div>

            <div class="flex flex-col gap-4">
                <h3 class="text-md text-gray-900 font-semibold">Recursos</h3>
                <ul class="text-md text-gray-500 font-medium">
                    <li>Blog</li>
                    <li>Guías de uso</li>
                    <li>Documentación</li>
                    <li>Foro</li>
                </ul>
            </div>

            <div class="flex flex-col gap-4">
                <h3 class="text-md text-gray-900 font-semibold">Contacto</h3>
                <ul class="text-md text-gray-500 font-medium">
                    <li>Soporte</li>
                    <li>Ventas</li>
                    <li>Partners</li>
                    <li>Sobre mí</li>
                </ul>
            </div>

        </div>
        
        <div class="flex items-center justify-between">
            <p class="text-gray-500">©2025 HopitalCart. Todos los derechos reservados.<p/>
            <ul class="flex gap-4 text-gray-500">
                <li>Terminos y condiciones</li>
                <li>Politica de privacidad</li>
                <li>Cookies</li>
            </ul>
        </div>
        
    </div>  
</footer>