<header class="fixed flex flex-col md:flex-row items-center top-0 h-20 w-full z-50 bg-white mx-auto">
    <nav class="flex flex-col md:flex-row items-center w-full max-w-6xl px-10 mx-auto">
        <h3 class="mt-5 md:mt-0 text-2xl font-bold text-gray-900 md:mr-auto">HospitalCart</h3>
        <ul class="hidden md:flex md:flex-row gap-4 md:mx-auto">
            <li><a href="#">Características</a></li>
            <li><a href="#">Beneficio</a></li>
            <li><a href="#">Testimonios</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <button class="hidden md:flex bg-gray-900 text-gray-100 rounded-md px-4 py-2 md:ml-auto">Iniciar sesión</button>
    </nav>    
</header>