<section class="bg-white w-full py-20 flex items-center justify-center">
    <div class="max-w-6xl mx-auto px-4 flex flex-col items-center justify-center gap-4">
        <p class="py-1 px-6 bg-gray-900 rounded-xl text-gray-100 font-bold text-lg">Características</p>
        <h4 class="text-4xl font-bold text-gray-900 max-w-2xl text-center">Todo lo que necesita para gestionar sus carros de emergencia</h4>
        <p class="text-md text-gray-500 font-medium max-w-3xl text-center">Nuestra plataforma ofrece herramientas completas para el control, seguimiento y manntenimiento de carros de paro hospitalarios</p>
    </div>    
</section>